* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

ol,
ul,
menu {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 36px;
  text-align: center;
}

.hero {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  margin-bottom: 90px;
}

.nav__wraper {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  margin-right: 55px;
}

.nav__item {
  margin-right: 40px;
}

.nav__list:last-child {
  margin-right: 0;
}

.nav__link {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  text-align: right;
  text-transform: uppercase;
  border-bottom: 1px solid transparent
}

.nav__link:hover {
  border-bottom: 1px solid #008139;
}

.nav__phone {
  display: flex;
  flex-direction: column;
}

c {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: black;
  position: relative;
}

.nav__phone-link::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-size: contain;
  background-image: url(./img/phon.svg);
  background-repeat: no-repeat;
  left: -26px;
  top: 3px;
}

.nav__phone-link {
  font-size: 13px;
  line-height: 15px;
  color: #7d808a;
}

.nav__phone-text {
  font-size: 13px;
  line-height: 15px;
  color: #7D808A;

}

.hero__title {
  font-family: 'Philosopher';
  font-weight: 700;
  font-size: 57px;
  line-height: 107%;
  max-width: 615px;
  margin-bottom: 40px;
  width: 100%;
}

.hero__subtitle {
  max-width: 400px;
  width: 100%;
  font-family: 'Alegreya Sans';
  font-size: 24px;
  line-height: 140%;
  color: #646464;
  padding-left: 45px;
  position: relative;
}

.hero__subtitle span {
  font-weight: 700;
}

.hero__subtitle::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 1px;
  background-color: #8F8F8F;
  left: 0;
  top: 16px;
}

.hero__batton {
  cursor: pointer;
  border: none;
  padding: 20px 75px;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 32px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #6A5300;
  background: linear-gradient(180deg, #9BCFFF 0%, #FFF383 0.01%, #FFC700 100%);
  box-shadow: 0px 4px 0px #C89C00;
  border-radius: 5px;
}

.hero__batton:hover {
  background: linear-gradient(180deg, #9BCFFF 0%, #FFE456 0.01%, #FFB800 100%);
}

.hero__batton:active {
  background: linear-gradient(180deg, #9BCFFF 0%, #FFE456 0.01%, #FFB800 100%);
}


/* _____________________________________________________----------------------------------------------------------------------------------------------------------------------__ */
/* about  */
.about {
  margin-bottom: 45px;
}

.about__title {
  margin-bottom: 90px;
}

.about__inner {
  display: flex;
  align-items: center;
}

.about__img {
  margin-right: 30px;
  max-width: 600px;
  width: 100%;
}

.about__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 60px;
  grid-row-gap: 25px;
  max-width: 540px;
  width: 100%;
}

.about__number {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 160%;
  color: #008139;
}

.about__item-text {
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  color: #0B0B0B;
}

.about__description {
  font-size: 15px;
  line-height: 28px;
  color: #7E7E7E;

}

/*  */
/* winer                      ---------------------------------------------------------------------------------------------------------------------------------------*/
/*  */

.winner--title {
  margin-bottom: 25px;
}

.winner__list {
  padding: 75px 0 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
}

.winner__item {
  padding-top: 120px;
  position: relative;
}

.winner__item::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 125px;
  width: 125px;

}

.winner__item--point::before {
  background-image: url(./img/point\ 1.png);
}

.winner__item--table::before {
  background-image: url(./img/table\ 4.png);
}

.winner__item--clock::before {
  background-image: url(./img/clock\ 1.png);
}

.winner__item--car::before {
  background-image: url(./img/car.png);
}

.winner__title {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 19px;
  line-height: 22px;
  text-align: center;
  color: #0B0B0B;
}



.winner__description {
  font-size: 15px;
  line-height: 151.7%;
  text-align: center;
  color: #7E7E7E;
}

/*  */
/* --------------------------visitors_____________---------------------------------------------------- */
/*  */

.visitors {
  padding: 150Px 0 250px;
}

.visitors--container {
  max-width: 1920px;
  padding: 0;
}

.visitors--title {
  margin-bottom: 70px;
}

.visitors__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

.visitors__bg {
  display: none;
}

.visitors__bg::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0, 35);
}

.visitors__bg::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  background-image: url(./img/visitors/Rectangle\ 138.svg);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.visitors__item:hover .visitors__bg {
  display: block;
}

.visitors__img {
  max-width: 375px;
  width: 100%;
  height: 100%;
}

/*    */
/* -------------------------------------------------------------------------horsers------------------------------------ */
/*  */

.horses--title {
  margin-bottom: 70px;
}

.horses__list {
  display: flex;
}

.horses__item {
  padding: 0 25px 45px 25px;
  border: 1px solid floralwhite;
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  max-width: 370px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.horses__img {
  margin-top: -25px;
}